/app/CalculatorAppMaven/com.logicbaker.mathutil/com.logicbaker.mathutil.adder/target/
/app/CalculatorAppMaven/com.logicbaker.mathutil/com.logicbaker.mathutil.substract/target/
/app/CalculatorAppMaven/com.logicbaker.mathutil/com.logicbaker.mathutil.multiplier/target/
/app/CalculatorAppMaven/com.logicbaker.mathutil/multiply/target/
/app/CalculatorAppMaven/com.logicbaker.mathutil/com.logicbaker.mathutil.multiply/target/
/app/CalculatorAppMaven/com.logicbaker.mathutil/com.logicbaker.mathutil.divide/target/