<html>
   
   <head>
      <title>Angular JS Controller</title>
      <script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
   </head>
   
   <body>
      <h2>Arithmetic LogicBaker Testing app</h2>
      
      <div ng-app = "calcui" ng-controller = "calc1">
           <input type="number" placeholder="number 1" ng-model="add1" ng-change="change()">
       +
     <input type="number" placeholder="number 2" ng-model="add2" ng-change="change()">
              =
       <input type="number" placeholder="result" readonly ng-model="ans1">
          <br><br>
            <input type="number" placeholder="number 1" ng-model="sub1" >
      -
     <input type="number" placeholder="number 2" ng-model="sub2" >
              =
       <input type="number" placeholder="result" readonly ng-model="ans2">
          <br><br>
            <input type="number" placeholder="number 1" ng-model="mul1" >
      *
     <input type="number" placeholder="number 2" ng-model="mul22" >
              =
       <input type="number" placeholder="result" readonly ng-model="ans3">
          <br><br>
            <input type="number" placeholder="number 1" ng-model="div1" >
      /
     <input type="number" placeholder="number 2" ng-model="div2" >
              =
       <input type="number" placeholder="result" readonly ng-model="ans4">
          <br><br>
      </div>
      
      <script>
   var app=angular.module("calcui",[]); // this is for testing only
       app.controller('calc1',function($scope){
       $scope.change=function(){
           $scope.ans1=$scope.add1+$scope.add2
       }
           
       })
    </script>
      
   </body>
</html>
